@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FerreteriaApp</h1>
    <h3 class="text-secondary">Tarea 1 Grupo 7</h3>
    <p>Link a Github: <a href="">repositorio del proyecto</a>.</p>
    <div>
        <h6 class="text-secondary">Integrantes del Grupo</h6>
        <ul style="list-style:none;">
            <li>Molina Ventura Steven Schafick</li>
            <li>Montano Aquino Kevin Antonio</li>
            <li>Sorto Sánchez Wilber Salvador</li>
        </ul>
    </div>
    
</div>
